.side_bar_wrapper {
  padding: 15px;
  position: sticky;
}

.side_bar_navigation {
  li {
    list-style: none;
    margin-bottom: 10px;
  }
}

.link {
  text-decoration: none;
  font-size: 13px;
  color: darkolivegreen;
}
