.setting_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_setting {
  color: gray;
  font-size: 16px;
}

.btn_cancel_wrapper {
  text-align: right;
  margin-bottom: 10px;
}
