.loader_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.filter_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.btn_load_more_wrapper {
  text-align: right;
}
