.side_bar_wrapper {
  padding: 15px;
}

.side_bar_navigation {
  li {
    list-style: none;
    margin-bottom: 10px;
  }
}

.link {
  text-decoration: none;
  font-size: 13px;
  color: rgb(33, 26, 133);
  display: flex;
  align-items: center;
  .icon {
    margin-right: 10px;
  }
  .route_name {
    font-size: 16px;
  }
}
