.text {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form_wrapper {
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.logo {
  img {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
}
